@page "/start"

<AuthorizeView>
    <Authorized>
        <h1>nerd emoji</h1>

        <img src="https://media.tenor.com/DuThn51FjPcAAAAC/nerd-emoji-nerd.gif" />
    </Authorized>

    <NotAuthorized>
         <h1>Du skal logge ind for at se den her side</h1>
    </NotAuthorized>

    <Authorizing>
        <h1>Vent venligst...</h1>
    </Authorizing>
</AuthorizeView>


@code {

}
