@page "/start"

<AuthorizeView>
    <Authorized>
        <h1>Velkommen til</h1>
         
        <p>På denne hjemmeside kan man se en historik af temperatur og luftfugtighed på mit værelse, samt daglige grafiske repræsentationer</p>
        <p>Under udviklingen af denne hjemmeside har jeg dykket mig ud i:</p>
        <ul style="list-style-type:square">
            <li> Sætte et <a href="https://github.com/Kristoffermg/TempHumToDatabase/blob/master/DHT_Sensor_to_Database.py">Python script</a> op på en Raspberry pi, som læser værdierne fra en DHT22 sensor hver halve time og indsætter dem på en MySQL database</li>
            <li>Lære Azure at kende, herunder deployment af hjemmeside og opsætning af MySQL database på deres cloud</li>
            <li>Genopfriskning af Blazor; herunder Authorization, MySQL connection og plotting af grafer</li>
        </ul>

        <img src="https://avatars.githubusercontent.com/u/33570390?v=4" />
    </Authorized>

    <NotAuthorized>
         <h1>Du skal logge ind for at se den her side</h1>
    </NotAuthorized>

    <Authorizing>
        <h1>Vent venligst...</h1>
    </Authorizing>
</AuthorizeView>


@code {

}
