<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">kristofferhusdata</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="start" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Start side
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indeklima/tabel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Indeklima tabel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indeklima/graf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Indeklima graf
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
